body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

.header {
    overflow: hidden;
    background-color: #eed8d8;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

@media screen and (max-width: 600px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/* end header */

/* banner */

.banner {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 100px; */
    /*
     margin-right: 200px; */
}


.banner p {

    margin-bottom: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.banner img {
    width: 70%;
    height: 50%;
    margin-top: 40px;

}

.banner a {
    background-color: rgb(244, 116, 69);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    text-align: center;
    color: white;
}

.banner-subdescription {
    padding-bottom: 50px;
}

header {
    background-color: #eed8d8;
}

/* end banner */



/* team-info start */

.team-info {
    padding-left: 15%;
    padding-right: 15%;

}

.cards {
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

}

.card {

    color: white;
    padding: 0.3 rem;

    /* height: 4rem; */
}

.card img {
    height: 100%;
    width: 100%;
}

.team-description {
    width: 100%;
    padding-left: 5%;
    padding-top: 25%;
    text-align: start;



}

.team-span-text {
    font-weight: bolder;
}

.team-info-button {
    background-color: rgb(244, 116, 69);
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5%;
    text-align: center;
    color: white;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);

    }

    .team-info {
        display: flex;
    }
}


/* end team information part */



/* features part */
.features {
    /* display: flex; */
    margin-top: 8%;
    /* margin-bottom: 8%; */
    margin-left: 15%;
    margin-right: 15%;
}

.features-detailes {
    width: 100%;
    margin-right: 10%;

}

.features-image img {
    width: 100%;
    height: 100%
}

@media (min-width: 600px) {
    .features {
        display: flex;
    }
}

.features-item {
    box-shadow: #cd1b1b;
    /* border: #c1bfbf; */
    background-color: #fcf0f0;
    margin-right: 25px;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    margin-left: 0%;
}



.button-ex {
    background-color: rgb(244, 116, 69);
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    text-align: center;
    color: white;
    margin-left: 55%;
    /* margin-top: -55px; */
}

.button {
    margin-top: -2.5%;
}

.button span {
    font-size: larger;
}

/* End features part */



/* facts */

.facts {

    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

.about-facts {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.fact-items {
    height: 250px;
    width: 250px;
    margin-top: 5%;
    border-color: #cd1b1b;
    border-width: 5px;
    border: 3px;
}

@media (min-width: 600px) {
    /* .fact-items {
        grid-template-columns: repeat(2, 1fr);

    } */

    .facts {
        display: flex;
    }
}



/* end facts */



.about {
    background-image: url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29mdHdhcmUlMjBjb21wYW55fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}